<div class="scroll-container wrapper" fxLayout="column" fxLayoutAlign="start center">
  <div class="parallax" fxLayout="center stretch" fxFlex="1 0 100" #generalDescriptionTrigger>
    <img #generalDescriptionBackground src="assets/portraits/portrait-headphones.png" class="background">
    <app-general-description fxFlexOffset="48px"></app-general-description>
  </div>
  <div class="parallax">
    <app-skill *ngFor="let skill of skills" [skill]="skill"></app-skill>
    <app-skill *ngFor="let p of principles" [skill]="p"></app-skill>
    <app-skill *ngFor="let interest of interests" [skill]="interest"></app-skill>
  </div>
  
  
  
</div>
