<div class="scroll-container wrapper" fxLayout="column" fxLayoutAlign="start center">
  <div class="parallax padded" fxLayout="center center" fxFlex="1 0 100" #generalDescriptionTrigger>
    <!-- <img src="assets/portraits/PXL_20230410_172116413.jpg" class="background"> -->
    <img #generalDescriptionBackground src="assets/portraits/portrait-headphones.png" class="background">
    <!-- <div class="background">
      <div>Hello world</div>
    </div> -->
    <app-general-description fxFlexOffset="48px"></app-general-description>
  </div>
  <div class="parallax">
    <app-skill *ngFor="let skill of skills" [skill]="skill"></app-skill>
    <app-skill *ngFor="let p of principles" [skill]="p"></app-skill>
    <app-skill *ngFor="let interest of interests" [skill]="interest"></app-skill>
  </div>
  
  
  
</div>
