.skill-container {
  mat-card {
    color: #CCC;
    mat-card-header {
      align-items: center;
      margin-bottom: 12px;
    }
    .header-image {
      border-radius: unset;
      margin-bottom: unset;
    }
  }
}