<div class="general-description mat-elevation-z2" fxLayout="column" fxLayoutAlign="start center">
  <p>
    James is full stack web developer, working in the Google Cloud Platform space. 
    He brings an unbridled enthusiasm for learning, a creative approach to problem solving, and a collaborative, 
    positive attitude to every challenge he faces. With his experience as an educator, he is a quick learning, 
    and brings that same "coach on the side" mentality to every team with whom he works. He is also keen to 
    grow and develop, and is never afraid of discovering there's a better way to solve a problem.
  </p>
</div>
