html, body { height: 100%; }
body { margin: 0;}

.scroll-container {
  overflow-y: auto;
}

.padded {
  padding: 24px;
}

.narrow {
  width: 100%;
  max-width: 532px;
}

@media (max-width: 531.98px) {
  .hide-narrow {
    display: none;
  }

  .narrow {
    max-width: 90%;
  }
}